#chat {
  border: 2px solid rgb(0, 0, 0)
}
#chat-container {
  height: 93vh;
  overflow-x: hidden;
}
main {
  display: flex;
  height: 100vh;
}

.text-message {
  word-break: break-all;
  font-size: 1em; 
}

#messages {
  list-style-type: none;
  margin-bottom: 100px;
}

#message {
  display: flex;
  justify-content: flex-start; 
  width: 30%;
  font-weight: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #007e04; 
  color: #ffffff; 
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
} 
#message.sent {
  background-color: #4CAF50;
  color: white;
}

#message.received {
  background-color: #f1f1f1;
  color: black;
}
.system-message {
  background-color: rgba(165, 165, 165, 0.7);
  border: 2px solid aliceblue;
  color: #fff;
}